{% extends 'base.html.twig' %}

{% block title %}Apropos index{% endblock %}

{% block body %}
    <h1>Apropos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Images</th>
                <th>Texte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for apropo in apropos %}
            <tr>
                <td>{{ apropo.id }}</td>
                <td>{{ apropo.titre }}</td>
                <td>{{ apropo.images }}</td>
                <td>{{ apropo.texte }}</td>
                <td>
                    <a href="{{ path('app_apropos_show', {'id': apropo.id}) }}">show</a>
                    <a href="{{ path('app_apropos_edit', {'id': apropo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_apropos_new') }}">Create new</a>
{% endblock %}
